.header-img {
    width: 100%;
    height: 100vh;
    background-image: url(../../images/photo-head.jpg);
    background-position: center;
    background-size: cover;
}

h1 {
    color: white !important;
    padding-top: 30%;
    font-size: 60px !important;
    text-shadow: 0px 0px 3px #000000;
}

.header-title {
    position: absolute;
    white-space: nowrap;
    animation: floatTextLeft 2s ease-in-out;
}

@-webkit-keyframes floatTextLeft{
    from {
      left: 0%;
    }
    to {
      left: 390px;
    }
}

.header-img h2 {
    color: #4D83D3 !important;
    font-weight: 700 !important;
    text-shadow: 0px 0px 3px #ffffff !important;
    font-size: 50px !important;
    padding-top: 32.5%;
    position: absolute;
    white-space: nowrap;
}

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
    z-index: 1;
}

.mousey {
    width: 1px;
    padding: 10px 10px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 1px 15px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px 6px rgba(0,0,0,0.75);
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

@media screen and (max-width: 1200px) {
    .header-title {
        animation: inherit;
    }
    .header-img h2 {
        animation: inherit;
    }
}

@media screen and (max-width: 992px) {
    .header-title {
        font-size: 40px !important;
        padding-top: 40% !important;
    }
    .header-img h2 {
        font-size: 30px !important;
        padding-top: 42.5% !important;
    }
}

@media screen and (max-width: 660px) {
    .header-title {
        font-size: 40px !important;
        padding-top: 57.5% !important;
    }
    .header-img h2 {
        font-size: 30px !important;
        padding-top: 60% !important;
    }
}

@media screen and (max-width: 375px) {
    .header-title {
        font-size: 36px !important;
        padding-top: 75% !important;
    }
    .header-img h2 {
        font-size: 28px !important;
        padding-top: 77.5% !important;
    }
}