.header-img {
    width: 100%;
    height: 100vh;
    background-image: url(../../../images/photo-head.jpg);
    background-position: center;
    background-size: cover;
}

.header-text {
    padding-top: 30%;
}

.header-logo {
    width: 125px;
    margin: 0 auto;
    display: block;
}

h1.header-title {
    color: white !important;
    font-size: 66px !important;
    font-weight: 700 !important;
    text-align: center !important;
    text-transform: uppercase;
    margin-top: 2rem;
    text-shadow: 0px 0px 1px #000000;
}

.header-title {
    white-space: nowrap;
}

.header-subtitle {
    visibility: visible;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

.header-img h2 {
    color: #4D83D3 !important;
    text-shadow: 0px 0px 3px #ffffff !important;
    font-size: 50px !important;
    white-space: nowrap;
    text-align: center !important;
}

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    margin: auto;
    width: 25px;
    height: 55px;
    z-index: 1;
}

.mousey {
    width: 1px;
    padding: 10px 10px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 1px 15px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px 6px rgba(0,0,0,0.75);
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

@media screen and (max-width: 1200px) {
    h1.header-title {
        animation: inherit;
    }
    h2.header-subtitle {
        animation: inherit;
    }
}

@media screen and (max-width: 788px) {
    h1.header-title {
        font-size: 48px !important;
    }
    h2.header-subtitle {
        font-size: 38px !important;
    }
}

@media screen and (max-width: 508px) {
    h1.header-title {
        font-size: 30px !important;
    }
    h2.header-subtitle {
        font-size: 26px !important;
    }
}

@media screen and (max-width: 375px) {
    .header-text {
        padding-top: 55%;
    }
}
